//! **************************************************************************
// Written by: Map P.20131013 on Thu Oct 17 13:31:20 2024
//! **************************************************************************

SCHEMATIC START;
NET "CLK_BUFGP/IBUFG" BEL "CLK_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

